<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <div id="box"></div>
    <h2>Room Name: {{g_name}}</h2>
    <textarea class="form-control" placeholder="Leave a comment here" id="chatlog" rows="10" cols="50">
      {% for chat in mess%}
        {{chat.content}}
      {% endfor %}
    </textarea><br/>
    <input type="text"  id="msg_input"><br/>

    <input type="button" value="send" id="msg_submit">
    {{g_name|json_script:"group-name"}}
      
    
    <script>
        const gname=JSON.parse(document.getElementById('group-name').textContent)
        console.log(gname)
        var ws=new WebSocket(
          'ws://'+
          window.location.host+
          '/ws/sc/'+
          gname+
          '/')
        

        ws.onopen= function(){
            console.log("websocket opened")           
        }

        ws.onmessage= function(event){
            console.log("message from server",event.data)
            var obj=JSON.parse(event.data)
            document.querySelector('#chatlog').value+=(obj.msg + '\n')
        
        }
        ws.onerror= function(event){
            console.log("websocket error handler",event)

        }
        ws.onclose= function(event){
            console.log("websocket connection closed",event);
        };

        document.getElementById("msg_submit").onclick=function(event){
          var msg=document.getElementById("msg_input").value;
          ws.send(JSON.stringify(
            {
              'msg':msg
            }
          ))
          document.getElementById("msg_input").value='';
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
